/* webex style */

/* styles for solveme */
/* .solveme { border: 2px dotted var(--pink); } */
/* .solveme.correct { border: 2px solid var(--green); } */
.solveme { 
  border: 3px dotted red; 
}
.solveme.correct { 
  border: 2px solid green; 
  background-color: #e6ffe6
}

/* styles for hidden solutions */
.solution {
    height: 2.2em;
    overflow-y: hidden;
    padding: 0.5em;
}
.solution.open {
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.solution button {
    height: 1.5em;
    margin-bottom: 0.5em;
}
